#carrossel-section {
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nome-logo{
    position: absolute;
    width: 60%;
    left: 19%;
    top: 35%;
    z-index: 10;
    opacity: 0; /* Inicialmente a imagem estará invisível */
    transform: translateY(100%); /* A imagem começa fora da tela à esquerda */
    animation: slideIn 3s forwards;
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}




#org-carrossel{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slides{
	width: 400%;
	height: 100%;
	display: flex;
}
.slides input{
	display: none;
}

.slide{
	width: 25%;
	height: 100%;
	position: relative;
	transition: 2s;
	background-size: cover; /* Faz a imagem ocupar todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
	filter: brightness(40%);
}

#slide1{
	background-image: url('../../img/funcionarios-formatado.jpg');
}
#slide2{
	background-image: url('../../img/cliente-1.jpg');
}
#slide3{
	background-image: url('../../img/cliente-2.jpg');
}
#slide4{
	background-image: url('../../img/cliente-4.jpg');
}

.manual-navigation{
	position: absolute;
	width: 100%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background-color: white;
	transition: 1s;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -25%;
}

#radio3:checked ~ .first{
	margin-left: -50%;
}

#radio4:checked ~ .first{
	margin-left: -75%;
}

/*----------------------*/

.navigation-auto div{
	border: 2px solid rgb(255, 255, 255);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.navigation-auto{
	/* visibility: hidden; */
	position: absolute;
	width: 100%;
	bottom: 27px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: white;
}




/*----------------- MOBILE -----------------*/

@media (max-width: 1000px) {
	/* #slide1{
		background-image: url('../img/funcionarios-formatado.jpg');
	}
	#slide2{
		background-image: url('../img/cliente-1.jpg');
	}
	#slide3{
		background-image: url('../img/cliente-2.jpg');
	}
	#slide4{
		background-image: url('../img/cliente-4.jpg');
	} */
}
  




















