footer {
    position: relative;
    background-image: url("../../img/mulher-no-salao.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    z-index: 0; /* Certifique-se que está abaixo do conteúdo */
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* O efeito de blackout */
    z-index: -1; /* Coloca a camada atrás do conteúdo */
}

.div-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    z-index: 1; /* Garante que o conteúdo esteja acima do blackout */
}

.div-logo img {
    width: 200px;
}

.div-redes-sociais {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.rede-social {
    transition: 1s;
    border: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin: 0px 25px;
    border-radius: 10px 0px 10px 0px;
}

.rede-social:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.8);
}

.rede-social:hover .seta {
    transition: 0.5s;
    transform: translateX(10px);
}

.seta {
    transition: transform 0.3s ease;
    transition: 0.5s;
    width: 15px;
    margin-right: 15px;
}

.rs {
    width: 30px;
    margin-right: 15px;
}

.rede-social span {
    font-size: 25px;
}








.endereco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#endereco-carrossel-footer{
	right: 100px;
	bottom: 30px;
	color: white;
	width: 300px;
    padding: 0px 40px;
}

#horario-carrossel-footer{
	left: 100px;
	bottom: 30px;
	color: white;
    padding: 0px 40px;
    margin-top: 30px;
}

#telefone-carrossel-footer{
	left: 100px;
	bottom: 30px;
	color: white;
    padding: 0px 40px;
}











.div-maps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa toda a largura */
    margin-top: 20px; /* Espaço superior */
    overflow: hidden; /* Esconde qualquer coisa que transborde */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra elegante */
}

.div-maps iframe {
    border-radius: 40px;
    width: 60%;
    height: 300px;
    margin: 20px 0px;
    border: none; /* Remove bordas extras */
}

.div-finalizacao{
    background-color: black;
    font-weight: 300;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-finalizacao span{
    padding-top: 20px;
}

.div-finalizacao a{
    padding-bottom: 20px;
    color: gold;
}









@media screen and (max-width: 850px) {
    
    /*BOTOES*/
    .div-redes-sociais {
        height: auto;
        flex-direction: column;
    }
    
    .rede-social {
        transition: 1s;
        border: 0.5px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        margin: 8px 0px;
        border-radius: 10px 0px 10px 0px;
        width: 70%;
    }
    .rs {
        width: 25px;
    }
    .rede-social span {
        font-size: 20px;
    }
    /*INFORMACOES*/
    .endereco{
        flex-direction: column;
        width: 100%;
    }
    #endereco-carrossel-footer{
        width: 70%;
        padding: 0px 40px;
    }
    #horario-carrossel-footer{
        width: 70%;
    }
    #telefone-carrossel-footer{
        width: 70%;
    }
    /*MAPA*/
    .div-maps iframe {
        width: 70%;
        height: 300px;
    }
}
