header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    /* background-image: linear-gradient(to bottom, rgb(76, 76, 76), transparent); */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s ease; /* Transição suave para o efeito de movimento */
    transition: 1s;
  }
  
  /* Cabeçalho ocultado (quando o scroll é para baixo) */
  header.hide {
    transform: translateY(-100%); /* Move o cabeçalho para fora da tela */
  }
  header.scrolled {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo quando não está no topo */
  }
header nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
header nav ul {
    display: flex; /* Alinha os itens da lista na horizontal */
    list-style: none; /* Remove os pontos da lista */
    margin: 0; /* Remove margens da lista */
    padding: 0; /* Remove preenchimento da lista */
}
header nav ul li{
    padding-right: 30px;
}
header nav ul li a {
    position: relative; /* Necessário para o posicionamento do ::after */
    transition: 0.5s all; /* Aplica transições para todas as propriedades */
    color: rgb(214, 214, 214);
    font-size: 20px;
    font-family: "Roboto", serif;
    display: inline-block;
}
header nav ul li a::after {
    content: ""; /* Necessário para criar a linha */
    position: absolute;
    bottom: -5px; /* Posiciona a linha logo abaixo do texto */
    left: 0; /* Inicia a linha do lado esquerdo */
    width: 0%; /* Inicialmente, a linha tem largura 0% */
    height: 2px; /* A altura da linha (fina) */
    background-color: white; /* Cor da linha */
    transition: width 0.5s ease; /* Efeito de transição para a largura da linha */
}
header nav ul li a:hover {
    color: rgb(255, 255, 255); /* Cor do texto ao passar o mouse */
}
header nav ul li a:hover::after {
    width: 100%; /* A linha vai expandir para 100% da largura do link */
}
a:focus {
    outline: none;
  }
/*--------------*/
header nav img{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
}