/* ------ SECTION 3 ------- */
#section-servicos{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-bottom: 0.1px solid black; */
}
#section-servicos .titulo-article{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section-servicos .titulo-article h1{
    color: #DCBFA1;
    font-size: 58px;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 30px;
}
#section-servicos .conteudo-article{
    /* background-color: #DCBFA1; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.servicos{
    /* background-color: #756657; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicos1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicos2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#show-more{
    background-color: transparent;
    position: relative; /* Necessário para o posicionamento do ::after */
    transition: 0.5s all; /* Aplica transições para todas as propriedades */
    color: rgb(157, 157, 157);
    font-size: 20px;
    font-family: "Roboto", serif;
    display: inline-block;
    border: none;
    cursor: pointer;
}
#show-more::after{
    content: ""; /* Necessário para criar a linha */
    position: absolute;
    bottom: -5px; /* Posiciona a linha logo abaixo do texto */
    left: 0; /* Inicia a linha do lado esquerdo */
    width: 0%; /* Inicialmente, a linha tem largura 0% */
    height: 0.5px; /* A altura da linha (fina) */
    background-color: rgb(0, 0, 0); /* Cor da linha */
    transition: width 0.5s ease; /* Efeito de transição para a largura da linha */
}
#show-more:hover::after{
    width: 100%;
}

#servicos-hidden{
    height: 0px;
    overflow-y: hidden;
    transition: 1s;
}

#servicos-hidden.active {
    height: 450px;
    transition: 1s;
}

/* QUADRADINHO */
.servico{
    transition: 0.5s;
    position: relative;
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 30px 30px 20px;
    align-items: flex-start;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
}

.servico:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

.titulo-servico{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    padding-top: 20px;
    color: white;
}

.img-servico{
    transition: 0.5s;
    width: 100%;
    height: 100%;
    background-size: cover; /* Faz a imagem ocupar todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    filter: brightness(50%);
}

.img-servico:hover{
    transition: 0.5s;
    filter: brightness(70%);
}

#servico1{
    background-image: url("../../img/hidratacao.jpg");
}

#servico2{
    background-image: url("../../img/hidratacao-mais-escova.webp");
}

#servico3{
    background-image: url("../../img/corte.avif");
}

#servico4{
    background-image: url("../../img/unha.jpg");
}








@media screen and (max-width: 800px) {
    .servicos1{
        flex-direction: column;
    }
    #section-servicos .titulo-article h1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 70px;
    }
    .servico{
        width: 85%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
    }
    .titulo-servico{
        padding-top: 0px;
    }
    .servicos2{
        padding-top: 10px;
    }
    #servicos-hidden.active {
        height: 490px;
        transition: 1s;
    }
}